name: locadora
services:
  db:
    # MariaDB database service
    image: docker.io/library/mariadb:latest
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_DATABASE: locacao_midias
      MYSQL_USER: admin
      MYSQL_PASSWORD: 123
    ports:
      - "3306:3306"
    networks:
      - appnet
    volumes:
      - ./database/locacao_midias.sql:/docker-entrypoint-initdb.d/seed.sql
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    # Rails API backend
    build:
      context: ./locadora
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      DATABASE_HOST: db
      DATABASE_USER: admin
      DATABASE_PASSWORD: 123
      DATABASE_NAME: locacao_midias
      RAILS_ENV: development
    depends_on:
      db:
        condition: service_healthy
    networks:
      - appnet
    volumes:
      - ./locadora:/rails

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - api
      - db
    networks:
      - appnet
    volumes:
      - ./frontend:/app
      - /app/node_modules

# Define the custom bridge network
networks:
  appnet:
    driver: bridge

# Define the volume for persistent database storage
volumes:
  db_data:
